<h2 class="title is-4">All Character Aliases</h2>
<% if @aliases.empty? %>
  <p>There are no known character aliases.</p>
<% else %>
    <% @aliases.each do |aka| %>
      <div class="card">
        <div class="card-content">
          <h4 class="title is-4"><%= link_to aka.name, alias_path(aka) %></h4>
          <p> Commonly known as <%= link_to aka.character.name, aka.character %></p>
        </div>
      </div>
    <% end %>
    <div class="paginate">
      <%= paginate @aliases %>
  </div>
<% end %>
