<% if @houses.empty?%>
  <p>There are no houses available.</p>
<% else %>
  <div class="columns is-multiline">
    <% @houses.each do |house| %>
    <div class="column is-3">
        <div class="card">
          <div class="card-content">
            <h3 class="title is-4"><%= house.name%></h3>
            <p>There are <%= house.characters.size %> characters who are sworn to this house.</p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item"><%= link_to "View House Details", house %></p>
          </footer>
        </div>
      </div>
    <% end %>
  </div>
  <div class="paginate">
    <%= paginate @houses %>
  </div>
<% end %>
