<h2 class="title is-4"><%= @page.title %></h2>
<div class="card">
  <div class="card-content">
    <article>
      <%= @page.content %>
    </article>
    <footer class="card-footer">
      <p class="card-footer-item">Last Updated: <%= @page.updated_at%>
    </footer>
  </div>
</div>

