<h2>All Characters</h2>
<% if @characters.empty?%>
  <p>There are no characters available.</p>
<% else %>
  <% @characters.each do |character| %>
    <ul>
      <li><%= link_to character.name, character_path(character) %></li>
    </ul>
  <% end %>
<% end %>

