<p class="title is-6">Found <%= @characters.size%> results for "<%= params[:search_char] %>"</p>
<% @characters.each do |character| %>
  <div class="card">
    <div class="card-content">
      <h4 class="title is-4"><%= link_to character.name, character_path(character) %></h4>
    </div>
  </div>
<% end %>




