<h2>All House and Character Titles</h2>
<% if @titles.empty?%>
  <p>There are no titles available.</p>
<% else %>
  <% @titles.each do |title| %>
    <ul>
      <li><%= link_to title.name, title_path(title) %></li>
    </ul>
  <% end %>
<% end %>